@font-face {
    font-family: 'PTSerif';
    src: url('fonts/ptserif-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif';
    src: url('fonts/ptserif-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}