body {
  margin: 0;
}
.wrapper {
  position: relative;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1530px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;  
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  opacity: 0.7;
}
.logo__circle_color_dark-blue {
background: #0056ec;
border-radius: 50%;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  border-radius: 50%;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18/21px Roboto,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: .5s;
}
.menu__item_active:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}
.main {
  display: block;
  align-items: center;
  padding-right: 63%;
  background: top right no-repeat url(img/mainImg.svg);
}
.main__title {
  margin: 0 0 40px 0;
  margin-bottom: 40px;
  font: 50px/65px pt_serif,arial,helvetica,sans-serif;
}
.main__title-text_highlight {
  background: #ecf3ff;
  font: 50px/65px pt_serif,arial,helvetica,sans-serif;
}
.main__subtitle {
  margin: 0 0 41px 0;
  margin-top: 30px;
  margin-bottom: 41px;
  font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
}
.main__button {
  display: inline-block;
  font: 500 14px/16px Roboto,arial,helvetica,sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: .5s;
}

.main__button:hover {
  opacity: .5;
}